@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hide{
    display: none;
}

.medium-text{
    font-size: 1.3rem;
}

.large-text{
    font-size: 1.5rem;
}
.bold{
    font-weight: bolder;
}
.uppercase{
    text-transform: uppercase;
}